/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

/* Body Styling */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
}

/* Container Styling */
.container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    /* border-radius: 15px; */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
}

/* Login Box */
.login-box h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

/* Input Group */
.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input-group input:focus {
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

/* Button */
.btn {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    width: 30%;
    padding: 10px;
    background: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #2575fc;
}

/* message error */
#error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}
